* *, *:before, *:after  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

.container {
    padding: 30px;
    width: 40%;
    border-radius: 25px;
    border-color: #709dff;
    border-style: solid;
}
.select_form {
    width: 50%;
    border-radius: 25px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #709dff;
    margin-bottom: 10px;
    padding-left: 5px;
}
.input_form {
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid#709dff;
    
}

.input_form::-webkit-inner-spin-button, .input_form::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select_form:hover {
    border-color: #3a75f5;

}
.input_form:hover {
    border-color: #3a75f5;
 
}

.select_form:focus {
    border-color: #3a75f5;

}
.input_form:focus {
    border-color: #3a75f5;
    
}


.input_button {

}