<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фильтр низких частот</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Симулятор фильтра низких частот</h1>
    
    <div class="flex-container">
    <div class="container">
    <form id="signal-form" action="/filter" method="POST">

        <div>
            <label>Тип сигнала:</label>
            <select name="signal_type" id="signal_type" class="select_form">
                <option value="sine">Синусоидальный</option>
                <option value="square">Квадратный</option>
                <option value="triangle">Треугольный</option>
            </select>
        </div>
        <div>
            <p><span>Амплитуда</span></p>
            <input type="number" placeholder="Амплитуда сигнала" name="amplitude" id="amplitude" step="0.01" class="input_form"><br>
        </div>
        <div>
            <p><span>Частота</span></p>
            <input type="number" placeholder="Частота сигнала" name="frequency" id="frequency" step="0.01" class="input_form"><br>
        </div>
        <div>
            <p><span>Амплитуда шума</span></p>
            <input type="number" placeholder="Амплитуда шума" name="noise_amplitude" id="noise_amplitude" step="0.01"class="input_form"><br>
        </div>
        <div>
            <p><span>Частота среза фильтра</span></p>
            <input type="number" placeholder="Частота среза фильтра" name="cutoff_frequency" id="cutoff_frequency" step="0.01" class="input_form"><br>
        </div>
        <div>
            <p><span>Порядок фильтра</span></p>
            <input type="number" placeholder="Порядок фильтра" name="filter_order" id="filter_order" step="1" class="input_form"><br>
        </div>

        <input type="submit" value="Симулировать" class="input_button">
        <input type="reset" value="Очистить форму" class="input_button">

    </form>
    </div>
    <div class="container" id="charts">
        <canvas id="signal-chart" width="400" height="200"></canvas>
        <canvas id="filtered-signal-chart" width="400" height="200"></canvas>
    </div>
    </div>

    <button id="floating-button">Информация</button>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/script.js"></script>
    
</body>
</html>